li{
	list-style-type:none;
}

#top-scorers-list{
    padding-left: 0;
    margin-left: -15px;	
}
.navbar{
    background: #297373;
    color: #E6E6E6;
    margin-bottom: 0;
    border-radius: 0px;
}

.navbar-brand{
	padding: 8px 34px!important;
	font-size: 29px!important;
	font-family: Moon2-bold;
	letter-spacing: 7px;
}

.content-header{
	font-family: Moon2-bold;
	letter-spacing: 3px;
	word-spacing: -11px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: #FF8552;
    border-color: #FF8552;
    color: white;
}

.nav-tabs>li>a{
	color:white;
}


.btn-primary{
	color: #fff;
	background-color: #FF8552;
	border-color:none!important;
	border: none;
	margin-top: 20px;
}

.btn-primary:hover{
	background:#297373!important;
	border-color: #FF8552;
}

.nav-tabs>li>a:hover{
	background:#297373	
}

.team-name {
	padding-left: 3%;
}

.main-wrapper{
	background: #39393A!important;
	color: #E6E6E6;
    height: 91vh;
    overflow: hidden;
	font-family: avenir;
}

.content-header.table{
	margin-left: 3%;
}

#play-fixture, #next-fixture{
	margin-left: -6.5%;
}
.vs-separator{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 13px;	
}

.fixture-row{
	margin-left:-2.5%;
	margin-top: 10px;
}

.fixture-row p{
    height: 16px;
    margin-bottom: 1px;
    color: #ffffff9c;
    font-size: 13px;

}

.team-info-wrapper{
	margin-left: 14px;
    padding-top: 10px;
}

#team-scorer-section{
    height: 380px;
    overflow: scroll;
}

#fixture-table{
    height: 380px;
    overflow: scroll;
}

.team-scorer-element{
/*    margin-left: -47px;*/
    font-weight: bold;
    font-size: 19px;
}
#team-top-scorers-list{
	margin-left: -53px;
}

.team-scorer-element:hover{
	cursor: pointer;
	color:#297373;
}

.team-scorer-element p{
	font-weight: normal;
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 1px;
}

.nav-item {
    padding: 22px 19px!important;
    font-size: 17px!important;
    font-family: Moon2-bold;
    letter-spacing: 3px;
    height: 80px;
    color: #E6E6E6;
    float: right;
    word-spacing: -8px;
}

.home-team, .away-team{
	text-align: center;
    font-size: 20px;
    margin-top: 40px;
    font-family: Moon2-bold;
    letter-spacing: 2px;
    word-spacing: -7px;
}

.nav-item a{
    vertical-align: -webkit-baseline-middle;
    color: white;
}

#away-list, #home-list{
    text-align: left;
}

.choices__list--single .choices__item, .choices__list--dropdown .choices__item{
	color: #39393A;
}
.position-blob{
	background:#FF8552;
    padding: 10px;
    width: 53px;
    font-size: 20px;
    letter-spacing: 0px;
    height: 53px;
    border-radius: 38px;

}

.team-selection .row{
	margin-bottom: 40px;
}

.no-content-transfer{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.no-content-transfer span{
    position: absolute;
    bottom: -27px;	
}

@font-face { 
	font-family: Moon2-regular; 
	src: url('../fonts/Moon2.0-Regular.otf'); 
} 

@font-face { 
	font-family: Moon2-light; 
	src: url('../fonts/Moon2.0-Light.otf'); 
} 

@font-face { 
	font-family: Moon2-bold; 
	src: url('../fonts/Moon2.0-Bold.otf'); 
} 