li{
	list-style-type:none;
}

#top-scorers-list{
    padding-left: 0;
    margin-left: -15px;	
}
.navbar{
    background: #297373;
    color: #E6E6E6;
    margin-bottom: 0;
    border-radius: 0px;
}

.navbar-brand{
	padding: 8px 34px!important;
	font-size: 29px!important;
	font-family: Moon2-bold;
	letter-spacing: 7px;
}

.btn-primary{
	color: #fff;
	background-color: #FF8552;
	border-color:none!important;
	border: none;
	margin-top: 20px;
}

.btn-primary:hover{
	background:#297373
}

.main-wrapper{
	background: #39393A!important;
	color: #E6E6E6;
	height:100vh;
	font-family: avenir;
}

@font-face { 
	font-family: Moon2-regular; 
	src: url('../fonts/Moon2.0-Regular.otf'); 
} 

@font-face { 
	font-family: Moon2-light; 
	src: url('../fonts/Moon2.0-Light.otf'); 
} 

@font-face { 
	font-family: Moon2-bold; 
	src: url('../fonts/Moon2.0-Bold.otf'); 
} 