li{
	list-style-type:none;
}

#top-scorers-list{
    padding-left: 0;
    margin-left: -15px;	
}
.navbar{
	background: #0CBABA;
	color:white;
}

.navbar-brand{
	padding: 8px 34px!important;
	font-size: 29px!important;
}